<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="MongoDbConnectionString" connectionString="mongodb+srv://pathmilakky21:RnGCZgYFSgak0nKt@cluster0.io7ya5u.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0" />
  </connectionStrings>
</configuration>
