<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<connectionStrings>
		<add name="MongoDbConnectionString" connectionString="mongodb+srv://pathmilakky21:RnGCZgYFSgak0nKt@cluster0.io7ya5u.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0" />
	</connectionStrings>
</configuration>